@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	background-color: #F6F6F6;
	font-family: 'Montserrat', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
	margin: 0px 40px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
}

a {
	text-decoration: none;
	color: #000;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 40px;
}

.exit {
	display: flex;
	align-items: center;
}

.exit a {
	margin-right: 10px;
}

.nav-item__active {
	font-weight: 600;
	color: #4369EF;
}

.table {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border: 1px solid #939393;
	border-radius: 24px 24px 0px 0px;
	position: relative;
}

.col {
	width: 100%;
	font-weight: 500;
	border: 1px solid #939393;
}

.head {
	padding: 25px;
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
}

.tbody {
	position: relative;
}

.dropdown-list {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.dropdown-list li {
	padding: 20px;
	text-align: center;
}

.tbody div.td {
	padding: 10px 20px;
}

.tbody div.td:nth-child(odd){
	background-color: #fff;
}

.tbody div.td.active {
	background-color: #A8EB75;
	color: #fff;
	font-weight: 600;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
	z-index: 100;
	display: none;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide {
    flex: 0 0 25%;
    height: 200px;
    display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #939393;
}


.popup {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    padding: 20px 30px 0px 30px;
    width: 100%;
    position: relative;
	border: 2px solid #939393;
	border-radius: 0px 0px 24px 24px;
}

.form__input {
	border: 1px solid #939393;
	border-radius: 8px;
	padding: 10px;
	margin: 10px 0px;
}

.form__input input, .form__input textarea{
	width: 100%;
	background-color: inherit;
}

.auth__button {
    width: 100%;
    border: none;
    border-radius: 12px;
    background: #A8EB75;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 20px;
	margin-top: 30px;
}