{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1440">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Клиентская база</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Логотип">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Мои просчеты</a></li>
                    <li><a class="nav-item__active" href="#">Клиентская база</a></li>
                </ul>
            </nav>
            <div class="exit">
                <a href="{% url 'logout_core_view' %}">Выйти</a>
                <img src="{% static 'img/exit.svg' %}" alt="">
            </div>
        </header>
    </div>

    <div class="container">
        <div class="table">
            <div class="col" style="border-radius: 24px 0px 0px 0px;">
                <div class="head" style="background-color: #A8EB76; border-radius: 24px 0px 0px 0px; cursor: pointer;" onclick="this.nextElementSibling.querySelector('.dropdown-list').style.display = (this.nextElementSibling.querySelector('.dropdown-list').style.display === 'block') ? 'none' : 'block';">Общая база</div>
                <div class="tbody">
                    <ul class="dropdown-list">
                        <li style="background-color: #A1E071;">
                            <img src="{% static 'img/add.svg' %}" alt="">
                            <a href="#" onclick="document.querySelector('.popup-common-create').style.display = 'block'; return false;" style="color: #fff; padding-left: 5px;">Добавить в базу</a>
                        </li>
                    </ul>
                    {% for client in clients %}
                        {% if client.is_potential %}
                        
                        {% else %}
                            <div class="td" onclick="renderCommon('{{client.name_point}}', '{{client.fullName}}', '{{client.address}}', '{{client.region}}', '{{client.director_phone}}', '{{client.manager_phone}}', '{{client.email}}', '{{client.with_work}}', {% if client.photo %} '{{client.photo.url}}' {% else %} '' {% endif %}, '{{client.id}}')" style="cursor: pointer;">{{client.name_point}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="head" style="background-color: #FFBD53; cursor: pointer;" onclick="this.nextElementSibling.querySelector('.dropdown-list').style.display = (this.nextElementSibling.querySelector('.dropdown-list').style.display === 'block') ? 'none' : 'block';">Потенциальные клиенты</div>
                <div class="tbody">
                    <ul class="dropdown-list">
                        <!-- <li style="background-color: #EFB557;">
                            <img src="{% static 'img/add.svg' %}" alt="">
                            <a href="#" onclick="document.querySelector('.popup-common-2').style.display = 'block'; return false;" style="color: #fff; padding-left: 5px;">Добавить в базу</a>
                        </li> -->
                        <li style="background-color: #E8AB4A;">
                            <img src="{% static 'img/subscribe.svg' %}" alt="">
                            <a href="" style="color: #fff; padding-left: 5px;">Включить уведомления</a>
                        </li>
                    </ul>
                    {% for client in clients %}
                        {% if client.is_potential %}
                            <div class="td" onclick="renderPotential('{{client.name_point}}', '{{client.fullName}}', '{{client.address}}', '{{client.region}}', '{{client.director_phone}}', '{{client.manager_phone}}', '{{client.email}}', '{{client.with_work}}', {% if client.photo %} '{{client.photo.url}}' {% else %} '' {% endif %}, '{{client.id}}')" style="cursor: pointer;">{{client.name_point}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col" style="border-radius: 0px 24px 0px 0px;">
                <div class="head" style="background-color: #B465D3; border-radius: 0px 24px 0px 0px;">Работающие клиенты</div>
                <div class="tbody">
                    <ul>
                        <li></li>
                    </ul>
                    <div class="td"></div>
                </div>
            </div>
            <div id="popup" class="popup-2 popup-sendCalc">
                <div class="popup-content">
                    <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
                        {% csrf_token %}
                        <h1 style="font-size: 20px; font-weight: 500; margin-bottom: 10px;">Отправить расчетчику</h1>
                        <label class="input-file">
                            <input type="file" name="file" required>		
                            <span>Выберите файл</span>
                        </label>
                        <textarea name="comment" id="" cols="30" rows="10" hidden></textarea>
                        <select name="calc" class="form__input">
                            {% for calc in calcs %}
                                <option value="{{calc.id}}">{{calc.user.username}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" style="background-color: #A1E071; padding: 10px 0px; border: none; border-radius: 4px; color: #fff;">Отправить</button>
                    </form>
                </div>
            </div>
            <div id="popup" class="popup-1 popup-common-create">
                <div class="popup-content">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h1 style="font-size: 20px; font-weight: 500;">Добавление клиента в общую базу</h1>
                        <img src="{% static 'img/close.svg' %}" style="cursor: pointer;" onclick="document.querySelector('.popup-common-create').style.display = 'none';" alt="">
                    </div>
                    <form action="{% url 'createClient' %}" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; height: 100%; margin: 20px 0px;">
                        {% csrf_token %}
                        <div style="display: flex; width: 100%;">
                            <div class="logo_preview" style="min-width: 200px; min-height: 200px; position: relative; border-radius: 8px; background-color: #F6F6F6; text-align: center; margin-right: 20px;" onclick="this.nextElementSibling.click()">
                                <p style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">Фото</p>
                            </div>
                            <input class="logo_input" type="file" name="photo" hidden>
                            <div style="width: 50%; margin-right: 20px;">
                                <div class="form__input" style="margin-top: 0px;">
                                    <input type="text" name="name_point" placeholder="Название торговой точки" required>
                                </div>
                                <div class="form__input">
                                    <input type="text" name="address" placeholder="Адрес" required>
                                </div>
                                <div class="form__input">
                                    <input type="text" name="director_phone" placeholder="Телефон собственника" required>
                                </div>
                                <div class="form__input" style="margin-bottom: 0px;">
                                    <input type="text" name="email" placeholder="E-mail" required>
                                </div>
                            </div>
                            <div style="width: 50%;">
                                <div class="form__input" style="margin-top: 0px;">
                                    <input type="text" name="fullName" placeholder="ФИО" required>
                                </div>
                                <div class="form__input">
                                    <input type="text" name="region" placeholder="Регион" required>
                                </div>
                                <div class="form__input">
                                    <input type="text" name="manager_phone" placeholder="Телефон менеджера" required>
                                </div>
                                <div class="form__input" style="margin-bottom: 0px;">
                                    <input type="text" name="with_work" placeholder="С кем работает" required>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: end;">
                            <button type="submit" style="background-color: #A8EB76; color: #000; padding: 15px 0px;border-radius: 12px; width: 400px; font-weight: 600; font-size: 24px; margin-top: 20px;">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="popup" class="popup-1 popup-common">
                <div class="popup-content">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h1 style="font-size: 20px; font-weight: 500;">Общая база</h1>
                        <img src="{% static 'img/close.svg' %}" style="cursor: pointer;" onclick="document.querySelector('.popup-common').style.display = 'none';" alt="">
                    </div>
                    <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; height: 100%; margin: 20px 0px;">
                        {% csrf_token %}
                        <div style="display: flex; width: 100%; margin-bottom: 20px;">
                            <div style="width: 33.33%; margin-right: 20px;">
                                <div class="form__input" style="margin-top: 0px;">
                                    <input type="text" name="name_point" placeholder="Название торговой точки">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="address" placeholder="Адрес">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="director_phone" placeholder="Телефон собственника">
                                </div>
                                <div class="form__input" style="margin-bottom: 0px;">
                                    <input type="text" name="email" placeholder="E-mail">
                                </div>
                            </div>
                            <div style="width: 33.33%;">
                                <div class="form__input" style="margin-top: 0px;">
                                    <input type="text" name="fullName" placeholder="ФИО">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="region" placeholder="Регион">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="manager_phone" placeholder="Телефон менеджера">
                                </div>
                                <div class="form__input" style="margin-bottom: 0px;">
                                    <input type="text" name="with_work" placeholder="С кем работает">
                                </div>
                            </div>
                            <div class="history" style="width: 33.33%; max-height: 220px; border: 1px solid #939393; border-radius: 8px; margin-left: 20px; overflow-y: scroll;">
                                <h1 style="font-weight: 500; margin: 10px 0px 10px 10px;">История отношений</h1>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="logo_preview" style="min-width: 200px; min-height: 200px; position: relative; border-radius: 8px; background-color: #F6F6F6; text-align: center;" onclick="this.nextElementSibling.click()">
                                <p style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">Фото</p>
                            </div>
                            <input type="file" class="logo_input" name="photo" hidden>
                            <div class="form__input" style="margin: 0px 20px;">
                                <textarea cols="140" rows="10" placeholder="Комментарий"></textarea>
                            </div>
                            <div class="buttons" style="display: flex; flex-direction: column; justify-content: space-between;">
                                <button type="submit" style="background-color: #FFBD53; color: #000; padding: 15px 0px; border-radius: 12px; width: 400px; font-weight: 600; font-size: 24px;">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="popup" class="popup-1 popup-potential">
                <div class="popup-content">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h1 style="font-size: 20px; font-weight: 500;">Потенциальные клиенты</h1>
                        <img src="{% static 'img/close.svg' %}" style="cursor: pointer;" onclick="document.querySelector('.popup-potential').style.display = 'none';" alt="">
                    </div>
                    <form action="" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; height: 100%; margin: 20px 0px;">
                        {% csrf_token %}
                        <div style="display: flex; width: 100%; margin-bottom: 20px;">
                            <div style="width: 33.33%; margin-right: 20px;">
                                <div class="form__input" style="margin-top: 0px;">
                                    <input type="text" name="name_point" placeholder="Название торговой точки">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="address" placeholder="Адрес">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="director_phone" placeholder="Телефон собственника">
                                </div>
                                <div class="form__input" style="margin-bottom: 0px;">
                                    <input type="text" name="email" placeholder="E-mail">
                                </div>
                            </div>
                            <div style="width: 33.33%;">
                                <div class="form__input" style="margin-top: 0px;">
                                    <input type="text" name="fullName" placeholder="ФИО">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="region" placeholder="Регион">
                                </div>
                                <div class="form__input">
                                    <input type="text" name="manager_phone" placeholder="Телефон менеджера">
                                </div>
                                <div class="form__input" style="margin-bottom: 0px;">
                                    <input type="text" name="with_work" placeholder="С кем работает">
                                </div>
                            </div>
                            <div class="history" style="width: 33.33%; max-height: 220px; border: 1px solid #939393; border-radius: 8px; margin-left: 20px; overflow-y: scroll;">
                                <h1 style="font-weight: 500; margin: 10px 0px 0px 10px;">История отношений</h1>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="logo_preview" style="min-width: 200px; min-height: 200px;position: relative; border-radius: 8px; background-color: #F6F6F6; text-align: center;" onclick="this.nextElementSibling.click()">
                                <p style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">Фото</p>
                            </div>
                            <input type="file" class="logo_input" name="photo" hidden>
                            <div class="form__input" style="margin: 0px 20px;">
                                <textarea name="comment" cols="140" rows="10" placeholder="Комментарий"></textarea>
                            </div>
                            <div style="display: flex;">
                                <div class="buttons-1" style="display: flex; flex-direction: column; justify-content: space-between; margin-right: 20px;">
                                    <button type="submit" style="background-color: #c3ff53; color: #000; padding: 40px 0px; border-radius: 12px; width: 200px; font-weight: 600;">Сохранить</button>
                                </div>
                                <div class="buttons-2" style="display: flex; flex-direction: column;justify-content: space-between;">
                                    <button style="background-color: #D4D4D4; color: #000; padding: 40px 0px; border-radius: 12px; width: 200px; font-weight: 600;">Создать нового дилера</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="snackbar">Сохранено</div>
    <script>

        const common = document.querySelector(".popup-common")
        const potential = document.querySelector(".popup-potential")


        window.addEventListener('click', function(event) {
			let popups = document.querySelectorAll('#popup');
			for (let popup of popups) {
				if (event.target == popup) {
					popup.style.display = 'none';
				}
			}
			
		});

        function renderCommon(name_point, fullName, address, region, director_phone, manager_phone, email, with_work, photo, id) {
            const preview = common.querySelector(".logo_preview")
            const form = common.querySelector("form")
            const logs = common.querySelectorAll(".log")
            const buttons = common.querySelector(".buttons")
            const history = common.querySelector(".history")
            for (const log of logs) {
                log.remove()
            }
            const name_point_input = common.querySelector("input[name='name_point']")
            const address_input = common.querySelector("input[name='address']")
            const fullName_input = common.querySelector("input[name='fullName']")
            const region_input = common.querySelector("input[name='region']")
            const director_phone_input = common.querySelector("input[name='director_phone']")
            const manager_phone_input = common.querySelector("input[name='manager_phone']")
            const email_input = common.querySelector("input[name='email']")
            const with_work_input = common.querySelector("input[name='with_work']")
            
            name_point_input.value = name_point
            address_input.value = address
            fullName_input.value = fullName
            region_input.value = region
            director_phone_input.value = director_phone
            manager_phone_input.value = manager_phone
            email_input.value = email
            with_work_input.value = with_work
            

            form.action = `/updateClient/${id}/`

            buttons.insertAdjacentHTML("beforeend",`<button type="button" onclick="take(true, this.parentNode.previousElementSibling.querySelector('textarea'), ${id})" style="background-color: #A8EB76; color: #000; padding: 15px 0px;border-radius: 12px; width: 400px; font-weight: 600; font-size: 24px;">Взять в работу</button>`)
            buttons.insertAdjacentHTML("beforeend",`<button type="button" onclick="take(false, this.parentNode.previousElementSibling.querySelector('textarea'), ${id})" style="background-color: #EF5252; color: #000; padding: 15px 0px;border-radius: 12px; width: 400px; font-weight: 600; font-size: 24px;">Не беру</button>`)


            if (photo.length != 0) {
                preview.style.background = `url("${photo}") 0 50%/100% auto no-repeat`;
                preview.querySelector("p").style.display = 'none';
            }

            let xhr = new XMLHttpRequest();
			xhr.open('GET', `/get_logs/${id}/`);
			xhr.responseType = 'json';
			xhr.onload = function() {
				if (xhr.status == 200) {
					for (const log of xhr.response["logs"]) {
                        history.insertAdjacentHTML("beforeend",`<div class="log">${log}</div>`)
                    }
				}
			};
			xhr.send();

            common.style.display = "block"

        }

        function renderPotential(name_point, fullName, address, region, director_phone, manager_phone, email, with_work, photo, id) {
            const preview = potential.querySelector(".logo_preview")
            const form = potential.querySelector("form")
            const logs = potential.querySelectorAll(".log")
            const history = potential.querySelector(".history")
            const buttons_1 = potential.querySelector(".buttons-1")
            const buttons_2 = potential.querySelector(".buttons-2")
            for (const log of logs) {
                log.remove()
            }
            const name_point_input = potential.querySelector("input[name='name_point']")
            const address_input = potential.querySelector("input[name='address']")
            const fullName_input = potential.querySelector("input[name='fullName']")
            const region_input = potential.querySelector("input[name='region']")
            const director_phone_input = potential.querySelector("input[name='director_phone']")
            const manager_phone_input = potential.querySelector("input[name='manager_phone']")
            const email_input = potential.querySelector("input[name='email']")
            const with_work_input = potential.querySelector("input[name='with_work']")
            
            name_point_input.value = name_point
            address_input.value = address
            fullName_input.value = fullName
            region_input.value = region
            director_phone_input.value = director_phone
            manager_phone_input.value = manager_phone
            email_input.value = email
            with_work_input.value = with_work

            form.action = `/updateClient/${id}/`

            buttons_1.insertAdjacentHTML("beforeend",`<button type="button" onclick="sendCalc(this.parentNode.parentNode.previousElementSibling.querySelector('textarea'), ${id})" style="background-color: #FFBD53; color: #000; padding: 40px 0px;border-radius: 12px; width: 200px; font-weight: 600;">Отправить расчетчику</button>`)

            buttons_2.insertAdjacentHTML("beforeend",`<button type="button" onclick="refuse(this.parentNode.parentNode.previousElementSibling.querySelector('textarea'), ${id})" style="background-color: #EF5252; color: #000; padding: 40px 0px;border-radius: 12px; width: 200px; font-weight: 600;">Отказаться</button>`)

            if (photo.length != 0) {
                preview.style.background = `url("${photo}") 0 50%/100% auto no-repeat`;
                preview.querySelector("p").style.display = 'none';
            }

            let xhr = new XMLHttpRequest();
			xhr.open('GET', `/get_logs/${id}/`);
			xhr.responseType = 'json';
			xhr.onload = function() {
				if (xhr.status == 200) {
					for (const log of xhr.response["logs"]) {
                        history.insertAdjacentHTML("beforeend",`<div class="log">${log}</div>`)
                    }
				}
			};
			xhr.send();

            potential.style.display = "block"

        }

        function take(is_take, comment, id) {
            if (comment.value == '') {
                alert("Заполните комментарий,почему вы взяли клиента в работу или отказались")
            } else {
                let formData = new FormData();
                if (is_take) {
                    formData.append('is_take', '1');
                } else {
                    formData.append('is_take', '0');
                }
                formData.append("comment", comment.value)
                
                let xhr = new XMLHttpRequest();
                xhr.open('POST', `/take/${id}/`);
                xhr.responseType = 'json';
                xhr.onload = function() {
                    if (xhr.status == 200) {
                        location.reload()
                    }
                };
                xhr.send(formData);
            }
        }

        function refuse(comment, id) {
            if (comment.value == '') {
                alert("Заполните комментарий, почему вы взяли клиента в работу или отказались")
            } else {
                let formData = new FormData();
                formData.append("comment", comment.value)
                let xhr = new XMLHttpRequest();
                xhr.open('POST', `/refuse/${id}/`);
                xhr.responseType = 'json';
                xhr.onload = function() {
                    if (xhr.status == 200) {
                        location.reload()
                    }
                };
                xhr.send(formData);
            }
        }

        function sendCalc(comment, id) {
            if (comment.value == '') {
                alert("Заполните комментарий, для отправки расчетчику")
            } else {
                const sendCalc = document.querySelector(".popup-sendCalc")
                const form = sendCalc.querySelector("form")
                form.action = `/sendCalc/${id}/`
                form.querySelector("textarea").value = comment.value
                sendCalc.style.display = "block"
            }
        }

        const logoInputs = document.querySelectorAll(".logo_input");
        for (const logoInput of logoInputs) {
            logoInput.onchange = (e) => {
                const [file] = logoInput.files;
                const logoPreview = logoInput.previousElementSibling
                if (file) {
                    logoPreview.style.background =
                        "url(" + URL.createObjectURL(file) + ") 0 50%/100% auto no-repeat";
                }

                logoPreview.querySelector("p").style.display = 'none';
            };
        }

        function showSnack() {
            let x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }

        
    </script>
</body>
</html>